.u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-layout-wrap-1 {pointer-events: auto; width: 1023px; margin: 95px auto 60px}
.u-section-1 .u-layout-cell-1 {min-height: 555px}
.u-section-1 .u-container-layout-1 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); padding: 30px 60px 23px}
.u-section-1 .u-text-1 {margin: 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-text-3 {margin: 20px 0 0}
.u-section-1 .u-text-4 {margin: 20px 46px 0}
.u-section-1 .u-text-5 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 599px}
.u-section-1 .u-layout-wrap-1 {min-height: 425px; width: 940px; margin-top: 40px; margin-bottom: 40px}
.u-section-1 .u-layout-cell-1 {min-height: 510px; pointer-events: auto}
.u-section-1 .u-text-4 {margin-left: 41px; margin-right: 41px} }

@media (max-width: 991px){ .u-section-1 {min-height: 89px}
.u-section-1 .u-sheet-1 {min-height: 89px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-4 {margin-left: 34px; margin-right: 34px} }

@media (max-width: 767px){ .u-section-1 {background-position: 35.1% 50%}
.u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-1 .u-text-4 {margin-left: 36px; margin-right: 36px} }

@media (max-width: 575px){ .u-section-1 {background-position: 10.71% 50%}
.u-section-1 .u-layout-wrap-1 {width: 340px}
.u-section-1 .u-text-4 {margin-left: 20px; margin-right: 20px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 272px}
.u-section-2 .u-text-1 {width: 680px; text-transform: uppercase; margin: 40px auto 0}
.u-section-2 .u-text-2 {width: 680px; margin: 20px auto 0}
.u-section-2 .u-btn-1 {padding: 0}
.u-section-2 .u-btn-2 {border-style: none; background-image: none; margin: 30px auto 40px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 275px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {width: 540px}
.u-section-2 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px}
.u-section-2 .u-text-2 {width: 340px} }.u-section-3 .u-sheet-1 {min-height: 400px}