 .u-section-1 {
  min-height: 991px;
}

.u-section-1 .u-shape-1 {
  height: 429px;
  margin-top: 0;
  margin-bottom: 0;
  --bottom-left-radius: 20px;
  --bottom-right-radius: 20px;
}

.u-section-1 .u-image-1 {
  height: 680px;
  width: 1140px;
  --radius: 30px;
  margin: -347px auto 0;
}

.u-section-1 .u-group-1 {
  width: 870px;
  min-height: 338px;
  height: auto;
  background-image: none;
  --top-left-radius: 30px;
  --top-right-radius: 30px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: -169px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 40px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  --radius: 30px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 600;
  background-image: none;
  margin: 40px auto 0;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 872px;
  }

  .u-section-1 .u-shape-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-1 {
    height: 561px;
    width: 940px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-1 {
    width: 759px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-bottom: -165px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 797px;
  }

  .u-section-1 .u-image-1 {
    height: 477px;
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 656px;
    min-height: 357px;
    margin-top: -178px;
    margin-bottom: 18px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 28px 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 629px;
  }

  .u-section-1 .u-image-1 {
    height: 357px;
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 436px;
    min-height: 281px;
    margin-top: -150px;
    margin-right: calc(((100% - 540px) / 2)  + 36px);
    margin-bottom: -208px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-image-1 {
    height: 276px;
    margin-top: -398px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -106px;
    margin-right: auto;
    margin-bottom: -81px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 :hover > .u-container-layout .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .hover > .u-container-layout .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 472px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2007px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 237px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 60px 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  align-self: center;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
}

.u-section-3 .u-icon-2 {
  margin-right: 8px;
  font-size: 2.375em;
  vertical-align: -7px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 117px;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 40px;
  min-height: 16px;
  width: 40px;
  min-width: 16px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 32px;
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-image-1 {
  width: 188px;
  height: 188px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 118px;
}

.u-section-4 .u-text-1 {
  font-size: 0.75rem;
  margin: 30px 0 -232px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: -212px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: -174px;
  }
}