 .u-section-1 {
  background-image: none;
  min-height: 766px;
}

.u-section-1 .u-shape-1 {
  height: 554px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -492px auto 58px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 643px;
}

.u-section-1 .u-container-layout-1 {
  padding: 90px 20px 20px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 644px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 0 40px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 614px;
  --radius: 100px;
  object-position: 21.26% 0%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 653px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    height: 498px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 649px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -135px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -380px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 0 0 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 4px;
    height: 489px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 834px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 614px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 819px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -529px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-1 .u-image-1 {
    height: 382px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 790px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-2 .u-accordion-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-accordion-link-1 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 19px;
  width: 19px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 27px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-2 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-accordion-link-2 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 19px;
  width: 19px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 2px auto 0 0;
}

.u-section-2 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-accordion-link-3 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 19px;
  width: 19px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-4 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 19px;
  width: 19px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 16px auto 0 0;
}

.u-section-2 .u-accordion-item-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-accordion-link-5 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 19px;
  width: 19px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 708px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 19px auto 0;
}

.u-section-3 .u-accordion-1 {
  margin-top: 50px;
  margin-bottom: 19px;
}

.u-section-3 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 19px;
  width: 19px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 31px;
}

.u-section-3 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-2 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 19px;
  width: 19px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 31px auto 0 0;
}

.u-section-3 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-3 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 19px;
  width: 19px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 31px auto 0 0;
}

.u-section-3 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-4 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 19px;
  width: 19px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-accordion-1 {
    margin-bottom: 9px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }

  .u-section-3 .u-accordion-1 {
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 620px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: -25px auto 0;
}

.u-section-4 .u-accordion-1 {
  margin-top: 50px;
  margin-bottom: -25px;
}

.u-section-4 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-accordion-link-1 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 19px;
  width: 19px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 16px auto 4px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-accordion-link-2 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 19px;
  width: 19px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 16px auto 0 0;
}

.u-section-4 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-accordion-link-3 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 19px;
  width: 19px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 16px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -6px;
  }

  .u-section-4 .u-accordion-1 {
    margin-bottom: -6px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }

  .u-section-4 .u-accordion-1 {
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 237px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px 60px 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-5 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  align-self: center;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
}

.u-section-5 .u-icon-2 {
  margin-right: 8px;
  font-size: 2.375em;
  vertical-align: -7px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 117px;
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-1 {
  height: 40px;
  min-height: 16px;
  width: 40px;
  min-width: 16px;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-3 {
  height: 32px;
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-image-1 {
  width: 188px;
  height: 188px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }
}